body{
background-color: rgba(191, 206, 206, 0.966);

}
header{
    width: auto;
    height: 200px;
    margin: 0px;
    color: rgb(244, 241, 247);
    padding:20px;
    font-weight: bold;

    
    

}

